# 忽略 Firebase 金鑰
serviceAccountKey.json

# 忽略temp
temp*
index_backup260417.html
test_*
scratch/*

# 額外建議：忽略 Python 的快取與環境資料
__pycache__/
.env
venv/


# 後端用的, 本地運行不需要
firebase_storage.py
main.py
processor.py